package {{.Package}}

import (
	"bytes"
	"fmt"
)

// InputError represents an error encountered when reading from an input source.
type InputError struct {
	Description string
	Pos         Position
}

// Error implements the error interface.
// It returns a formatted string describing the error in detail.
func (e *InputError) Error() string {
	var b bytes.Buffer
	fmt.Fprintf(&b, "%s: %s", e.Pos, e.Description)
	return b.String()
}
